
@{
    ViewBag.Title = "ActivationInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ActivationInfo</h2>

<div>Kayıt işleminiz başarılı.Email adresinize gönderilen akticasyon işlemini tamamlayarak .....</div>

